* { margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body { background-color:#eae3ce; color:white; font-family: 'Source Sans Pro', sans-serif; font-size:12px; }

#div1 { background-color:#aa895e; width: 100%; }

.logo {position: absolute;} 
    #logoimg { height: 280px; padding: 10px; padding-left: 35px;} 
.logo:hover {filter: brightness(0.2);}

.redes { padding: 40px; text-align: right;  } 
.redes div { display: inline; } 
.redes img { height: 50px; } 

nav {width: 100%; position: absolute; top: 45px;}
nav ul { list-style: none; text-align: center;}
nav ul li { display: inline; margin: 40px; position: relative;}
nav ul li a { color:white; font-size:20px; text-decoration: none; display: inline-block; padding: 10px;}
nav ul li a:hover { color:black; }

.indeximg { width: 100%; } 
.indeximg2 { display: none; } 

.contenedor { display: flex; flex-flow: wrap; padding-left: 10%; padding-right: 13%; padding-top: 6%; padding-bottom: 10%;} 
.cajasindex { width: 25%; margin:auto; box-sizing: border-box;  } 
.cajasindex img { width: 100%; border: 10px solid #aa895e; transition: 1s;} 	
.cajasindex img:hover {filter: blur(2px) brightness(0.5); transform: scale(1.1);}
.textoindex { display: none; font-size: 15px; line-height: 25px; color:white; position:absolute; top:60%; text-align: center; width: 18%; margin-left: 1.5%;} 
.textoindex h1 { font-size: 30px; line-height: 50px;} 
.cajasindex:hover .textoindex { display: block; } 

.titulo { color: black; transform: scale(1.4);} 
a { text-decoration: none; } 

.contenido { color: black; font-size: 20px; text-align: center; font-weight: 200; flex-flow: wrap;} 
.contenido p { margin-bottom: 20px; } 
.contenido img:hover {filter: saturate(1.3); transform: scale(1.1);}
.albumes { float: left;  width: 42%; margin: 4%;} 
.albumes img { width: 40%; margin: 10px; border: 6px solid #aa895e;} 
.sencillos { float: right;  width: 42%; margin: 4%;} 
.sencillos img { width: 28%; margin: 6px; border: 4px solid #aa895e;} 
.videos div {  width: 12%; margin-left: 19%;  margin-bottom: 50px;   } 
.videos div p { color:white; margin: 0%; padding: 10px; background-color: #aa895e; text-decoration: none; } 
iframe { width:600px; height:315px; margin-left: 2%; margin-right: 1%; margin-bottom: 2%;} 

.actuacion img { width: 28%; margin: 6px; border: 5px solid #aa895e;} 
.tv { float: left;  width: 44%; margin: 3%;} 
.cine { float: right;  width: 44%; margin: 3%; margin-bottom: 4%;} 
.netflix { float: right; width: 50%; margin-bottom: 5%; } 

.biocontenedor { color: black; font-size:17px; line-height: 50px; text-align: justify; flex-flow: wrap;} 
.txtbio1 { float: left; width: 51%; margin: 5%; margin-bottom: 3%;} 
.txtbio2 { float: right; width: 49%; margin-right: 5%; margin-top: 2%;} 
.biocontenedor img {border: 6px solid #aa895e; transition: 1s;} 
.biocontenedor img:hover  { transform: scale(1.1); } 
.imgbiotxt1 { margin-top: 5%; margin-bottom: 1%; width: 530px;} 
.imgbiotxt2 { margin-left: 5%; margin-bottom: 5%; width: 550px;} 

footer { clear:both; background-color:#aa895e;  text-align: center; padding: 10px;}
footer p { margin-bottom: 5px; } 


@media (max-width:1300px) { 
    .indeximg { display: none;} 
    .indeximg2 { display: block; width: 100%; } 
} 

@media (max-width:1100px) { 
    #logoimg { height: 200px; }
    nav { width: 93%; } 
    nav ul li { margin: 20px;} 
    nav ul li a { font-size:18px;} 
  } 