* { margin: 0; padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

body { background-color:#eae3ce; color:white; font-family: 'Source Sans Pro', sans-serif; font-size:12px; }

#div1 { background-color:#aa895e; width: 100%; }

.logo {position: absolute;} 
    #logoimg { height: 280px; padding: 10px; padding-left: 25px;} 

.redes { text-align: right; width: 100%;} 
    #redesimg { height: 50px; padding: 40px; } 

nav {width: 100%; position: absolute; top: 45px;}
nav ul { list-style: none; text-align: center;}
nav ul li { display: inline; margin: 40px; position: relative;}
nav ul li a { color:white; font-size:20px; text-decoration: none; display: inline-block; padding: 10px;}
nav ul li a:hover { color:black; }

.indeximg { width: 100%; } 
.indeximg2 { display: none; } 

.contenedor { display: flex; flex-flow: wrap; padding-left: 10%; padding-right: 13%; padding-top: 6%; padding-bottom: 10%;} 
.cajasindex { width: 25%; margin:auto; box-sizing: border-box;  } 
.cajasindex img { width: 100%; border: 10px solid #aa895e;} 	
.cajasindex img:hover {filter: blur(5px);}
.textoindex { display: none; font-size: 15px; line-height: 25px; text-decoration: none; color:white; position:absolute; top:60%; text-align: center; width: 18%; margin-left: 1.5%;} 
.textoindex h1 { font-size: 30px; line-height: 50px;} 
.cajasindex:hover .textoindex { display: block; } 

.textobio { display: none; position: absolute; width: 19%; top: 50%; opacity: 0.8;} 
.cajasindex:hover .textobio { display: block; } 
#imgtextobio:hover {filter: none; } 



@media (max-width:1300px) { 
    .indeximg { display: none;} 
    .indeximg2 { display: block; width: 100%; } 
} 

@media (max-width:1100px) { 
    #logoimg { height: 200px; }
    nav { width: 93%; } 
    nav ul li { margin: 20px;} 
    nav ul li a { font-size:18px;} 
  } 